
doctype html


html(lang='en')
  head
    title Sweet Tees
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css')
    link(rel='stylesheet' href='https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/3.7.0/adyen.css', integrity='sha384-y1lKqffK5z+ENzddmGIfP3bcMRobxkjDt/9lyPAvV9H3JXbJYxCSD6L8TdyRMCGM', crossorigin='anonymous')
    style.
      table.ui.celled img { display: inline-block; }
      footer { margin: 35px 0 15px 0; text-align: center }
      .ui.table td .image, .ui.table td .image img, .ui.table th .image, .ui.table th .image img { min-width: 450px;}
      .ui.table tfoot th {border-bottom-right-radius: 37px !important; border-bottom-left-radius: 37px !important; background: #420080; color: #ed485f;}
      .ui.table {border-radius: 40px}
      .ui.table tfoot tr:first-child>th:only-child{border: 3px solid; font-size: 18px; font-weight: bold;}
      .ui.table tfoot th:hover{background-color: #ed485f; color: #420080;}
      h2{text-align: center;}
      .ui.table td{font-size: 20px;}

    script(src='https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/3.7.0/adyen.js', integrity='sha384-aRaL1/W2ASAwZpEWmiHJJAhcc5h+pwDywrocWjla8oCSJaMlY4MC2hOPvAaOcOCq', crossorigin='anonymous')
    
  body
    main#main
    h1.ui.center.aligned.header Buy A Random Shirt!
    .ui.container
      table.ui.celled.table.center.aligned
        thead
              td You Paid $20.00
                //img.ui.mini.rounded.image(src=image)
        tfoot
          tr 
            th(colspan='6') Thanks for your purchase, hope it fits! ¯\_(ツ)_/¯ 
    footer
      p © #{new Date().getFullYear()} Ajay's Random Shirts
    

    
